// #bgImg{
// background-image: url('../../../../assets/icon/bgimg.webp');
//     background-attachment: fixed !important;
//     background-repeat: no-repeat;
//     background-size: cover;
// background-position: center center !important;
//     position: relative;
//     padding: 20px
// }

#bgImg {
    background: url(../../../../assets/icon/bgimg.webp) no-repeat center/cover fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        // background-size: 100%;
    height: 100%;
    position: relative;
}
.scrollwithout-bgImg{
    overflow-y: scroll;
    height: 100%;
}
:host {
    display: block;
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    overflow: hidden;
    /* Hide any overflow */
    position: absolute;
    /* Absolute positioning to cover the full screen */
    top: 0;
    left: 0;
}