<main class="ion-content" id="bgImg">
  <section class="scrollwithout-bgImg">
  
    <div class="container-fluid  bg-white px-2 mx-0">
    <p class="text-center">Student about works!</p>
      <div class=" px-2 mx-0">
          

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nisi ratione nulla, inventore magnam
          facilis
          dolores itaque vero vitae illo ipsum odio ab eaque sequi maxime enim ipsam, consequuntur obcaecati
          perspiciatis
          molestiae amet sint fugiat voluptatibus porro? Eveniet sed omnis suscipit fugiat officiis dolorem tempore
          error
          rerum. Enim consequatur eos dolorum ipsa accusamus nisi quibusdam necessitatibus non sunt at maiores adipisci
          cumque beatae nobis aut, debitis similique quas veritatis sequi tempore. Magni minus sed fugit animi accusamus
          odit, iusto consequuntur ullam asperiores eaque sapiente nam, pariatur ducimus quibusdam quia libero dolor
          molestias possimus repudiandae! Ab voluptates placeat dolorem culpa impedit!</p>
      </div>
    </div>
    <div class="bg-transparent">
      <div class="d-flex align-items-center justify-content-center" style="height: 200px;">
        <p>Hi Vijay</p>
      </div>
    </div>

    <div class="container-fluid  bg-white px-2 mx-0">
      <p>Molestiae hic praesentium perferendis et delectus suscipit...</p>
      <p>Molestiae hic praesentium perferendis et delectus suscipit...</p>
      <p>Molestiae hic praesentium perferendis et delectus suscipit...</p>
      <p>Molestiae hic praesentium perferendis et delectus suscipit...</p>
      <p>Molestiae hic praesentium perferendis et delectus suscipit...</p>


      <div class="px-2 mx-0">
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nisi ratione nulla, inventore magnam
          facilis
          dolores itaque vero vitae illo ipsum odio ab eaque sequi maxime enim ipsam, consequuntur obcaecati
          perspiciatis
          molestiae amet sint fugiat voluptatibus porro? Eveniet sed omnis suscipit fugiat officiis dolorem tempore
          error
          rerum. Enim consequatur eos dolorum ipsa accusamus nisi quibusdam necessitatibus non sunt at maiores adipisci
          cumque beatae nobis aut, debitis similique quas veritatis sequi tempore. Magni minus sed fugit animi accusamus
          odit, iusto consequuntur ullam asperiores eaque sapiente nam, pariatur ducimus quibusdam quia libero dolor
          molestias possimus repudiandae! Ab voluptates placeat dolorem culpa impedit!</p>
      </div>
    </div>
  </section>
</main>