/* src/app/student/student-layout/footer.component.scss */
footer{
    height: 100px;
    background: black;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}